.catlog-container{
    width:100%;
    padding: 16px 96px;
    height: auto;
    background: rgba(34, 34, 211, 0.04);
}

.catlog{
    width: 100%;
    height: 100%;
    padding: 96px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:48px;
}

.catlog-up{

    display: flex;
    flex-direction: column;
    gap:12px;
    align-items: center;
    justify-content: center;
    
    h3{
        font-weight: 700;
        font-size: 48px;
        text-align: center;
    }

    p{
        font-weight: 400;
        font-size: 20px;
        text-align: center;
    }
}


.catlog-down{
    
    display: flex;
   
    width: 100%;
    justify-content: center;
    gap: 48px;


    flex-wrap: wrap;

    .product{
        background: #fff;
        width: 216px;
        height: 120px;
        position: relative;

       

        strong{
            position: absolute;
            top: 12px;
            left:12px;

            font-weight: 700;
            font-size: 16px;
        }

        img{
            position: absolute;
            top:0px;
            right: 6px;
        }
    }
    
}


@media only screen and (max-width: 380px){
    .catlog-down{
        .product {
            strong{
                font-size: 12px;
            }
        }
    } 
}